:root {
  --primary-bg-color: #30323d;
  --secondary-bg-color: #4d5061;
  --warning-text-color: #e8c547;
  --text-color-asbtract: #5c80bc;
  --text-color: #cdd1c4;
}

* {
  font-family: "Maven Pro", sans-serif;
}

a {
  color: var(--text-color);
}

.headers {
  color: var(--secondary-bg-color);
  font-size: 2em;
  font-weight: 600;
  margin: 1em 0 1em 0;
}

.headers-profile {
  color: var(--secondary-bg-color);
  font-size: 1.5em;
  font-weight: 400;
  margin: 1em 0 0.5em 0;
}

.navbar {
  background-color: var(--primary-bg-color);
}

.navbar-nav {
  --bs-nav-link-hover-color: var(--warning-text-color);
}

.btn-primary {
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
  --bs-btn-hover-bg: var(--warning-text-color);
  --bs-btn-hover-border-color: var(--warning-text-color);
  --bs-btn-hover-color: var(--primary-bg-color);
  --bs-btn-active-color: var(--primary-bg-color);
}

.navbar-brand {
  color: var(--text-color);
}
.nav-link {
  color: var(--text-color);
}

.navbar-toggler {
  border-color: var(--text-color);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.new-game-select {
  width: 50%;
  justify-content: center;
}

.player--active {
  background-color: rgba(48, 50, 61, 0.8);
}

.player--inactive {
  background-color: rgba(48, 50, 61, 0.5);
}

.play-background {
  background-color: rgba(48, 50, 61, 0.3);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0, 3rem 5rem #53566d;
  border-radius: 10px;
}

.player {
  border-radius: 10px;
  height: 90%;
  color: rgb(233, 233, 233);
  font-weight: 500;
}

.btn-large-score {
  font-size: 15rem;
  padding: 0.75rem;
  font-weight: 400;
  border: none;
  background: transparent;
  border-radius: 0.3rem;
  border-color: transparent;
  display: inline-block;
  color: #212529;
  text-align: center;
  vertical-align: middle;
}

.game-btns {
  position: relative;
  transform: translateY(40%);
}

.col-sm-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

#logo_main {
  height: 3em;
  width: auto;
}

.hidden-modal {
  visibility: hidden;
  opacity: 0;
}

.game-won-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #8f8f8f83;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

/* Index Page CSS */
#indexGames {
  background-color: #e7e7e777;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 1.5rem rgba(133, 133, 133, 0.3);
  margin-left: 3rem;
}

#gameplayStats {
  background-color: #e7e7e777;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 1.5rem rgba(133, 133, 133, 0.3);
  margin-left: 3rem;
  margin-right: 3rem;
}

.recent-games-headers {
  font-size: 1rem;
  font-weight: 400;
}

.game-stats {
  font-size: 3rem;
}

.game-stat-headers {
  font-size: 1.5rem;
}

.profile {
  text-align: left;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: var(--secondary-bg-color);
}

.profile-right {
  border-right: none;
}

.profile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #8f8f8f83;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  border-radius: 0.5em;
}

.overlay-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.games-played {
  margin-top: 1em;
  padding: 0.5em 0.5em 1.5em 0.5em;
  background-color: #f0f0f083;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

.btn-disabled {
  opacity: 0.2;
}
