{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-fluid header-bg">
        <button class="btn btn-primary btn-lg m-4" onclick="location.href='/newgame';">New Game</button>
    </div>
    <div class="container-fluid bg-mod-secondary">
        <div class="row">
            <div class="col">
                <span class="headers">Recent Games</span>
            </div>
            <div class="col">
                <span class="headers">Upcoming Tournaments</span>
            </div>
        </div>
    </div>
{% endblock %}