{% extends "layout.html" %}

{% block title %}
    New Game
{% endblock %}

{% block main %}
    <!-- TODO -->
    <div class="row align-items-center mb-3 mx-auto" style="width: 30%; height:auto">
        <form action="/newgame" method="post">
            <div class="input-group mb-3">
                <input class="input-group-text" disabled placeholder="{{ user }}">
                <span class="input-group-text">vs.</span>   
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="player2" name="player2" placeholder="Opponent" required type="text">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="gamesToPlay">Games to Play</label>
                <select class="form-select" id="gamesToPlay">
                    <option selected disabled>Select Amount</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="points">Points per Game</label>
                <select class="form-select" id="points">
                    <option selected disabled>Points</option>
                    <option value="11">11</option>
                    <option value="15">15</option>
            </div>
        </form>
    </div> 
{% endblock %}