{% extends "layout.html" %} 

{% block title %} 
    Match
{% endblock %} 

{% block main %}
    <div class="container text-center bg-mod-primary mt-3">
        <div class="row">
            <div class="col player player--active">
                <h1 class="text-lg-center m-3 players" id="user">{{ user }}</h1>
                <span class="score" id="score--user">0</span>
            </div>
            <div class="col-sm-2 game-btns ">
                <div class="row">
                    <button class="btn btn-primary mb-3">Undo</button>
                </div>
                <div class="row">
                    <button class="btn btn-danger mb-3">End Match</button>
                </div>
            </div>
            <div class="col player players player--inactive">
                <h1 class="text-lg-center m-3" id="opponent">{{ opponent }}</h1>
                <span class="score" id="score--opponent">0</span>
            </div>
        </div>
    </div>
{% endblock %}