{% extends "layout.html" %} 

{% block title %} 
    Register
{% endblock %} 

{% block main %}
    <form action="/register" method="post">
        <div class="m-3">
            <input autofocus autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Confirm Password" type="password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email Address (Optional)" type="email">
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="phone" name="phoneNumber" placeholder="Phone Number (Optional)" type="text">
        </div>
        <button class="btn btn-primary mt-4" type="submit">Register</button>
    </form>
{% endblock %}
